.main {
  background: linear-gradient(#aaffa9,#11ffbd);
  height: 100vh;
}

.header {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #56ff9f;
  height: 80px;
  top: 0;
  width: 100vw;
}

.links > a {
  top: 30px;
  left: 20px;
  position: absolute;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  transition: all 0.4s;
}

.links a:hover {
  color: whitesmoke;
  border-color: rgb(84, 127, 245);
  animation-name: flash_border;
  animation-duration: 2s;
  animation-timing-function: linear;
  background-color: #000;
  border-radius: 45px;
  transition: all 0.4s;
}

.mealform {
  display: flex;
  float: left;
  flex-direction: column;
  box-shadow: 0 0 5px rgb(2, 2, 4);
  margin-left: 5rem;
  margin-top: 35vh;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(139, 139, 139);
}

.mealform button, input {
  display: block;
  width: 300px;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  outline: none;
  border: none;
}

.mealform h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mealform button {
  cursor: pointer;
  border-radius: 30px;
  width: 120px;
  background-color: rgb(68, 255, 140);
  transition: all 0.5s;
}

.mealform button:hover {
  background-color: rgb(0, 225, 255);
}

.foodlist {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(2, 2, 4);
  width: 350px;
  float: right;
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 15vh;
  margin-right: 20rem;
  background: rgb(235, 235, 250)
}

.food_list_header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  height: 40px;
  position: sticky;
  top: 40px;
  color: white;
  background-color: rgb(39, 38, 38);
  border-right: 1px solid white;
}

#food_header {
  margin: auto;
}

#calorie_header {
  margin: auto;
}

.dltbtn:hover {
  color: red;
  left: 0;
}

.fooditems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 10px;
  height: 70px;
}

#food {
  margin: auto;
}

#calories {
  margin: auto;
}

.home_img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 80px;
  left: 0;
}


.total_calories {
  height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(39, 38, 38);
  color: white;
  border-right: 1px solid white;
}

.arrow {
  border: none;
  background: none;
  left: 20px;
  top: 30px;
  position: absolute;
  width: 20px;
  cursor: pointer;
}

.sign_in_out {
  cursor: pointer;
  border: none;
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 5px;
  width: fit-content;
  border-radius: 3px;
  background-color: #000;
  color: white;
}

.sign_in_out:hover {
  background-color: rgb(124, 124, 236);
}


